.btn{
    outline: none;
    border: none;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    // padding:.5rem;
    margin: 1.2rem 0;
    font-size: .9rem;
    font-weight: 500;
    cursor: pointer;
}

.btn__normal{
    width: 100%;
    text-align: start;
    border-radius: none !important;
    padding: .6rem;
}

.btn__small{
    padding: 1rem 2.5rem;
    text-align: center;
}
.rounded{
    width: 45px;
    height: 45px;
}
.blue{
    background: blue;
}

.transparent{
    color: #222;
    background: #e7e7e7;
}