.sidebar{
    position: fixed;
    bottom: 0;
    left: 0;
    top: 0;
    display:flex;
    padding: 5rem .5rem;
    flex-direction: column;
    border: 1.9px solid #333;

    .lists{
        padding: .5rem;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
        .icon{
            display: flex;
            flex-direction: column;
            a{
                display: block;
                margin: 1rem 0;
                font-size: 1.9rem;
                color:#333;
                font-weight: bold;
                position: relative;
                .count-trash{
                   position:absolute;
                   width: 20px;
                   height: 20px;
                   right:5px;
                   bottom:20px;
                   background: red;
                   border-radius: 50%;
                   z-index: 5;
                   display: grid;
                   place-items: center;
                   font-size: 12px;
                   animation:beep 1s ease-out infinite;
                   transform: translate3d(12px, 15px, 0);
                transition:.3s ease-in;
                visibility:hidden;
                }
            }
        }
    }
    .icons{
        padding: .5rem;
        cursor: pointer;
    }
}

@media (max-width:970px){
    .sidebar{
        position: relative;
        display:flex;
        padding: 1rem .5rem;
        border: 1.9px solid #333;
    
        .lists{
            padding: .5rem;
            display: block;
            .icon{
                display: flex;
                flex-direction: row;
                position: absolute;
               
                a{
                   padding: 1rem .8rem;
                   font-size: 1.4rem;
                   .count-trash{
                       width: 18px;
                       height: 18px;
                    right:25px;
                    bottom:33px;
                   
                 }
                }
            }
        }
        .icons{
            padding: .5rem;
            cursor: pointer;
            display: flex;
            justify-content: flex-end;
            
        }
    }
    }




    @keyframes beep{
        25%{
            visibility:visible;
            background: rgb(255, 51, 51);
        }
        50%{
            visibility:visible;
            background: rgb(255, 71, 71);
        }
        75%{
            visibility:visible;
            background: rgb(255, 87, 87);
        }
        100%{
            visibility:visible;
            background: rgb(247, 199, 199);

        }
       
    }