* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
  line-height: 1.4;
  font-family: Maven Pro;
}

body, html {
  height: 100%;
}

#root {
  min-height: 100%;
}

.wrapper {
  min-height: 100vh;
  transition: 0.2s ease-out;
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
}

.container {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
}

input {
  width: 100%;
  padding: 0.7rem;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #e0e7ed;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.error, .success {
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  padding: 1rem;
  background: #ccc;
  margin-bottom: 1rem;
}

.error {
  color: #ff2f2f;
  background: #ff000012;
}

.success {
  color: #2ca02c;
  background: #00ff1112;
}

@media (max-width: 970px) {
  .wrapper {
    display: block;
  }
}
.task-lists .list, .header-wrapper, .main-content .title-container .task-title .title-content .dropdown-menu a, .main-content .title-container .task-title .title-content, .error, .success {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
}

.sidebar {
  position: fixed;
  bottom: 0;
  left: 0;
  top: 0;
  display: flex;
  padding: 5rem 0.5rem;
  flex-direction: column;
  border: 1.9px solid #333;
}
.sidebar .lists {
  padding: 0.5rem;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sidebar .lists .icon {
  display: flex;
  flex-direction: column;
}
.sidebar .lists .icon a {
  display: block;
  margin: 1rem 0;
  font-size: 1.9rem;
  color: #333;
  font-weight: bold;
  position: relative;
}
.sidebar .lists .icon a .count-trash {
  padding: 0.2rem;
  position: absolute;
  width: 20px;
  height: 20px;
  right: 5px;
  bottom: 20px;
  background: red;
  border-radius: 50%;
  z-index: 5;
  display: grid;
  place-items: center;
  font-size: 12px;
  animation: beep 1s ease-out infinite;
  transform: translate3d(12px, 15px, 0);
  transition: 0.3s ease-in;
  visibility: hidden;
}
.sidebar .icons {
  padding: 0.5rem;
  cursor: pointer;
}

@media (max-width: 970px) {
  .sidebar {
    position: relative;
    display: flex;
    padding: 1rem 0.5rem;
    border: 1.9px solid #333;
  }
  .sidebar .lists {
    padding: 0.5rem;
    display: block;
  }
  .sidebar .lists .icon {
    display: flex;
    flex-direction: row;
    position: absolute;
  }
  .sidebar .lists .icon a {
    padding: 1rem;
  }
  .sidebar .icons {
    padding: 0.5rem;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
  }
}
@keyframes beep {
  25% {
    visibility: visible;
    background: #ff3333;
  }
  50% {
    visibility: visible;
    background: #ff4747;
  }
  75% {
    visibility: visible;
    background: #ff5757;
  }
  100% {
    visibility: visible;
    background: #f7c7c7;
  }
}
.main-content {
  flex: 1;
  margin-left: 1rem;
}
.main-content .add-task__btn {
  display: flex;
  justify-content: flex-end;
}
.main-content .title-container {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 1.4rem;
}
.main-content .title-container .task-title {
  padding: 1rem 2rem;
  margin: 1rem 0;
  position: relative;
  justify-self: stretch;
  border-radius: 5px;
}
.main-content .title-container .task-title .title-content .head h2 {
  font-size: 1rem;
}
.main-content .title-container .task-title .title-content .dropdown {
  position: relative;
}
.main-content .title-container .task-title .title-content .dropdown .show {
  display: block;
}
.main-content .title-container .task-title .title-content .dropdown-menu {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate3d(-20px, 10px, 0);
  will-change: transform;
  margin: 0.5rem 0;
  border-radius: 10px;
  padding: 1rem;
  z-index: 2;
  display: none;
}
.main-content .title-container .task-title .title-content .dropdown-menu a {
  padding: 0.5rem 1.3rem 0.5rem 0.5rem;
}
.main-content .title-container .task-title .title-content .dropdown-menu a span {
  display: block;
}
.main-content .title-container .task-title .display-tags {
  display: flex;
  padding: 1.6rem 0;
}
.main-content .title-container .task-title .display-tags .tag-e {
  margin-right: 1rem;
  padding: 0.5rem 2rem;
  background: #333;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
}
.main-content .title-container .task-title .display-tags .tag-e:nth-child(1) {
  background: #fff2ec;
  color: #fda173;
}
.main-content .title-container .task-title .display-tags .tag-e:nth-child(2) {
  background: #e6f7fb;
  color: #3ec0e0;
}
.main-content .title-container .task-title .task-done {
  width: 100%;
  margin-bottom: 1rem;
}
.main-content .title-container .task-title .task-done .inner-line {
  height: 6px;
  background: #ccc;
  border-radius: 10px;
}
.main-content .title-container .task-title .task-done .inner-line .line {
  height: 100%;
  background: #4b74ff;
  border-radius: 10px;
}

@media (max-width: 960px) {
  .main-content .title-container {
    padding: 2rem;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 690px) {
  .main-content {
    flex: 1;
  }
  .main-content .title-container {
    display: block;
  }
}
@media (max-width: 460px) {
  .main-content {
    margin-left: 0;
    flex: 1;
  }
  .main-content .title-container .task-title .display-tags {
    display: block;
  }
  .main-content .title-container .task-title .display-tags .tag-e {
    margin: 1rem 0;
  }
}
@media (max-width: 360px) {
  .main-content {
    margin-left: 0;
    flex: 1;
  }
  .main-content .title-container .task-title .title-content .head h2 {
    font-size: 0.8rem;
  }
  .main-content .title-container .task-title .display-tags {
    display: block;
  }
  .main-content .title-container .task-title .display-tags .tag-e {
    font-size: 12px;
    text-align: center;
  }
}
.header {
  width: 100%;
  background: #fff;
  padding: 1.4rem;
}
.header-wrapper {
  width: 60%;
  margin: 0 auto;
}
.header-wrapper .header-search__bar {
  flex: 1;
  margin-right: 1rem;
}

.btn {
  outline: none;
  border: none;
  border-radius: 5px;
  text-align: center;
  color: #fff;
  margin: 1.2rem 0;
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
}

.btn__normal {
  width: 100%;
  text-align: start;
  border-radius: none !important;
  padding: 0.6rem;
}

.btn__small {
  padding: 1rem 2.5rem;
  text-align: center;
}

.rounded {
  width: 45px;
  height: 45px;
}

.blue {
  background: blue;
}

.transparent {
  display: flex;
  align-items: center;
}
.transparent svg {
  margin-right: 0.6rem;
}

.task-form {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 66;
  overflow: hidden;
  transition: 0.4s ease-out;
}
.task-form label {
  display: block;
  font-size: 14px;
  font-weight: 500;
  margin: 0.6rem 0;
}
.task-form .form {
  visibility: hidden;
  width: 30rem;
  margin: 5rem auto;
  padding: 2rem;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.07);
  transition: 0.4s ease-out;
  animation: drop 0.6s ease-out forwards;
}
.task-form .form .close-form {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}
.task-form .form .tags-element {
  display: flex;
}
.task-form .form .tags-element p {
  display: flex;
  font-size: 13px;
  font-weight: 500;
  margin: 0.7rem 0;
  padding: 0.4rem 1rem;
  margin-right: 0.4rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.07);
}
.task-form .form .tags-element p span {
  display: grid;
  place-items: center;
}
.task-form .form .tags-element p .close {
  display: flex;
  justify-content: flex-end;
  margin: 0 0 0 1rem;
  cursor: pointer;
}
.task-form .form .dates {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.task-form .form .submit {
  display: flex;
  justify-content: flex-end;
}

@keyframes drop {
  0% {
    transform: translate3d(0, -100%, 0);
    visibility: hidden;
  }
  100% {
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
}
@media (max-width: 500px) {
  .task-form .form {
    width: 90%;
  }
  .task-form .form form .dates {
    display: block;
  }
  .task-form .form form .submit {
    display: block;
  }
}
.task-lists {
  margin: 3rem 0;
  padding: 2rem;
}
.task-lists .list {
  margin: 1.5rem 0;
  padding: 0.7rem;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 15px #c8c8c84a;
}
.task-lists .list .title-info {
  display: flex;
  flex: 1;
}
.task-lists .list .title-info .check {
  padding-right: 1rem;
  position: relative;
}
.task-lists .list .title-info .check input {
  width: auto;
}
.task-lists .list .priority, .task-lists .list .time {
  display: flex;
  font-size: 12px;
  font-weight: 600;
  flex: 1;
}
.task-lists .list .priority .text, .task-lists .list .time .text {
  padding-left: 1rem;
}
.task-lists .list .title {
  display: flex;
}
.task-lists .list .title span {
  display: block;
}
.task-lists .list .title span:nth-child(1) {
  margin-top: 0.09rem;
  margin-right: 0.4rem;
}
.task-lists .list .stage {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.task-lists .list .stage button {
  display: block;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  margin-right: 0.4rem;
}

.item-form__container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #00000099;
  z-index: 2;
}
.item-form__container label {
  display: block;
  margin: 0.6rem 0;
  font-size: 14px;
  font-weight: 500;
}
.item-form__container select {
  width: 100%;
  padding: 0.8rem;
  border-radius: 5px;
  font-size: 1rem;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  border: 1px solid #e0e7ed;
  -moz-appearance: none;
  /* Firefox */
  -webkit-appearance: none;
  /* Safari and Chrome */
  appearance: none;
}
.item-form__container .item-form {
  visibility: hidden;
  width: 30rem;
  margin: 5rem auto;
  padding: 2rem;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.07);
  transition: 0.4s ease-out;
  animation: drop 0.6s ease-out forwards;
}
.item-form__container .item-form .close {
  display: flex;
  justify-content: flex-end;
}
.item-form__container .item-form .priority {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
